fastapi
uvicorn
transformers
torch
tf-keras
newspaper3k
newsapi-python
rapidfuzz
prisma
python-dotenv
httpx
pydantic
lxml_html_clean
spacy
trafilatura
pytesseract
Pillow
beautifulsoup4
python-multipart
sentence-transformers
